<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content layerinformation-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= informationAndLegend %></h4>
        </div>
        <div class="modal-body">
            <h4 class="subtitle"><%= title %></h4>
            <p><%= abstractText %></p>

            <% if (metaURL !== null) { %>
              <% metaURL.forEach(function (url) { %>
                  <br>
                  <p class="pull-right"><a href="<%= url %>" target="_blank"><%= additionalMetadata %></a></p>
              <% }); %>
            <% } %>
            <% if (typeof datePublication !== "undefined" && datePublication !== null) { %>
                <p><%= publicationCreation %>: <%= datePublication %></p>
            <% } %>
            <% if (typeof dateRevision !== "undefined" && dateRevision !== null) { %>
                <p><%= lastModified %>: <%= dateRevision %></p>
            <% } %>
            <% if (periodicity !== "") { %>
                <p><%= periodicityTitle %>: <%= periodicity %></p>
            <% } %>
                <hr>
                <ul class="nav nav-tabs">
                    <li value="layerinfo-legend" class="active"><a data-toggle="tab" href="#layerinfo-legend"><%= legend %></a></li>
                    <% if (downloadLinks !== null) { %>
                    <li><a data-toggle="tab" href="#LayerInfoDataDownload"><%= downloadDataset %></a></li>
                    <% } %>
                    <% if (url !== null) { %>
                    <li><a data-toggle="tab" href="#url"><%= typ %>-<%= addressSuffix %></a></li>
                    <% } %>
                </ul>
                <br>
                <div class="tab-content">
                    <div id="layerinfo-legend" class="tab-pane fade in active"></div>
                    <div id="LayerInfoDataDownload" class="tab-pane fade">
                        <ul class="list-unstyled">
                            <% if (downloadLinks !== null) { %>
                                <% downloadLinks.forEach(function (downloadLink) { %>
                                    <li><a href="<%= downloadLink.link %>" target="_blank"><%= downloadLink.linkName %> </a><li>
                                <% }); %>
                            <% } %>
                        </ul>
                    </div>
                    <div id="url" class="tab-pane fade">
                        <ul class="list-unstyled">
                            <li><a href="<%= url %>?SERVICE=<%= typ %>&REQUEST=GetCapabilities" target="_blank"><%= url %> </a><li>
                        </ul>
                  </div>
                </div>
        </div>
    </div>
</div>
